:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.list-group.list-group-flush {
  padding-left: 43px;
}
.fw-bold {
  font-weight: 500 !important;
}
.list-group-item-action {
  font-size: 0.9rem;
}
.list-group-flush {
  font-size: 0.86rem;
}
